<h1><%= t(:customers) %></h1>

<ul>
  <% @customers.each do |customer| %>
    <li>
      t(:customer): <%= customer.name %>,
	  	t(:location): <%= customer.location %>,
	  	t(:contact): <%= customer.number %>, 
			t(:balance): <%= customer.balance %>
    </li>
  <% end %>
</ul>

<%= link_to t(:new_costumer), new_customer_path %>