<h1><%= t(:new_customer) %></h1>

<%= form_with model: @customer do |form| %>
	<div>
    <%= form.label t(:name) %><br>
    <%= form.text_field :name %>
		<% @customer.errors.full_messages_for(:name).each do |message| %>
			<div><%= message %></div>
		<% end %>
  </div>

  <div>
    <%= form.label t(:location) %><br>
    <%= form.text_field :location %>
		<% @customer.errors.full_messages_for(:location).each do |message| %>
			<div><%= message %></div>
		<% end %>
  </div>

	<div>
    <%= form.label t(:number) %><br>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
