<h1><%=t(:workers)%></h1>

<ul>
  <% @workers.each do |worker| %>
    <li>
		<%=t(:workers): worker.name %>,
	  	<%=t(:location): worker.location %>,
	  	<%=t(:contact): worker.number %>,
		<%=t(:rating): worker.rating %>,
		<%=t(:balance): worker.balance %>
    </li>
  <% end %>
</ul>

<%= link_to t(:new_worker), new_worker_path %>
