<%= form_with model: gig do |form| %>
	<div>
    <%= form.label t(:customer_id) %><br>
    <%= form.number_field :customer_id %>
		<% gig.errors.full_messages_for(:customer_id).each do |message| %>
			<div><%= message %></div>
		<% end %>
  </div>

	<div>
    <%= form.label t(:worker_id) %><br>
    <%= form.number_field :worker_id %>
  </div>

  <div>
    <%= form.label t(:title) %><br>
    <%= form.text_field :title %>
	<% gig.errors.full_messages_for(:title).each do |message| %>
		<div><%= message %></div>
	<% end %>
  </div>

  <div>
    <%= form.label t(:description) %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label t(:location) %><br>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label t(:payment) %><br>
    <%= form.number_field :payment %>
	<% gig.errors.full_messages_for(:payment).each do |message| %>
		<div><%= message %></div>
	<% end %>
  </div>

  <div>
    <%= form.label t(:deadline) %><br>
    <%= form.datetime_field :deadline %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
