<h1>Gigs</h1>

<ul>
  <% @gigs.each do |gig| %>
    <li>
			Gig: <%= link_to gig.title, gig %>, 
	  	Location: <%= gig.location %>,
	  	Payment: <%= gig.payment %>,
	  	Deadline: <%= gig.deadline %>
    </li>
  <% end %>
</ul>

<%= link_to "New Gig", new_gig_path %>
