<div class="jumbotron">
<% if !logged_in? %>
	<h1> <%=t(:welcome) %></h1>
	<p> <%=t(:please_login) %></p>
<% else %>
	<% provide(:title, "Gigs") %>
	<h1><%=t(:gigs) %></h1>
	<%= form_tag('/gigs', method: :get) do %>
		<%= text_field_tag :search, params[:search], placeholder: t(:search_gigs) %>
		<%= submit_tag t(:search) %>
	  <% end %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col"><%=t(:gig)%></th>
				<th scope="col"><%=t(:location)%></th>
				<th scope="col"><%=t(:payment)%></th>
			</tr>
		</thead>
		<tbody>
			<% @gigs.each do |g| %>
				<tr>
					<td>
						<%= link_to g.title, g %>
					</td>
					<td>
						<%= g.location %>
					</td>
					<td>
						<%= g.payment %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<p></p>
	<%= link_to t(:new_gig), new_gig_path, class: "btn btn-primary btn-lg" %>
	</div>
	<%end %>