<div class="center jumbotron">
<% if !logged_in? %>
	<h1> <%=t(:welcome) %></h1>
	<p> <%=t(:please_login) %></p>
<% else %>
	<% provide(:title, "Gigs") %>
	<h1><%=t(:gigs) %></h1>
	<%= form_tag('/gigs', method: :get) do %>
		<%= text_field_tag :search, params[:search], placeholder: t(:search_gigs) %>
		<%= submit_tag t(:search) %>
	  <% end %>
	<ul  class="list-group">
		<% @gigs.each do |gig| %>
			<li class="list-group-item">
				<%=t(:gig)%>: <%= link_to gig.title, gig %>
				<br>
				<%=t(:location)%>: <%= gig.location %>
				<br>
				<%=t(:payment)%>: <%= gig.payment %>
				<br>
				<% if !gig.deadline.nil? %>
				<%=t(:deadline)%>:  <%= gig.deadline %>
				<% end %>
			</li>
		<% end %>
	</ul>
	<p></p>
	<%= link_to t(:new_gig), new_gig_path, class: "btn btn-primary btn-lg" %>
	</div>
	<%end %>