<h1>Gigs</h1>
<p>Current language: <%= session[:locale] %></p>
<%= link_to "English", change_language_path(locale: 'en'), method: :post %>
<%= link_to "Español", change_language_path(locale: 'es'), method: :post %>

<ul>
  <% @gigs.each do |gig| %>
    <li>
			Gig: <%= link_to gig.title, gig %>, 
	  	Location: <%= gig.location %>,
	  	Payment: <%= gig.payment %>,
	  	Deadline: <%= gig.deadline %>
    </li>
  <% end %>
</ul>

<%= link_to "New Gig", new_gig_path %>

<h3> <%= t(:hello)%></h3>