<h1>Gigs</h1>

<ul>
  <% @gigs.each do |gig| %>
    <li>
		<%= link_to gig.title, gig %>
	  	<%= gig.description %>
	  	<%= gig.location %>
	  	<%= gig.payment %>
	  	<%= gig.deadline %>
	  	<%= gig.customer_id %>
    </li>
  <% end %>
</ul>

<%= link_to "New Gig", new_gig_path %>
