<h1>Gigs</h1>

<ul>
  <% @gigs.each do |gig| %>
    <li>
      <%= gig.title %>
	  <%= gig.description %>
	  <%= gig.location %>
	  <%= gig.payment %>
	  <%= gig.deadline %>
	  <%= gig.customer %>
    </li>
  <% end %>
</ul>
