<div class="center jumbotron">
<h1><%=t(:gig)%>: <%=@gig.title %></h1>
<h1><%=t(:description)%>: <%=  @gig.description %></h1>
<h1><%=t(:location)%>: <%=  @gig.location %></h1>
<h1><%=t(:payment)%>: <%=  @gig.payment %></h1>
<h1><%=t(:deadline)%>: <%=  @gig.deadline %></h1>
<h1><%=t(:customer)%>: <%=  @customer.name %></h1>
<% if !@worker.nil? %>
<h1><%=t(:worker)%>: <%=  @worker.name  %></h1>
<%end %>


<% if @gig.worker_id.nil? %>
<% if current_user == @customer %>
<%= link_to t(:edit), edit_gig_path(@gig), class: "btn btn-primary btn-lg" %>
<%= link_to t(:delete), gig_path(@gig), class: "btn btn-primary btn-lg", data: { turbo_method: :delete} %>
<% else %>
<%= link_to t(:accept),  accept_gig_path(@gig), class: "btn btn-warning btn-lg", data: { turbo_method: :post } %>
<%end %>
<% else %>
<% if current_user == @customer %> 
<%= link_to t(:complete), complete_gig_path(@gig), class: "btn btn-success btn-lg", data: { turbo_method: :post } %>
<%end %>
<%end %>