<div class="jumbotron">
<% provide(:title, t(:gig)) %>
<p><%=t(:gig)%>: <%=@gig.title %></p>
<p><%=t(:description)%>: <%=  @gig.description %></p>
<p><%=t(:location)%>: <%=  @gig.location %></p>
<p><%=t(:payment)%>: <%=  @gig.payment %></p>
<% if !@gig.deadline.nil? %>
<p><%=t(:deadline)%>: <%=  @gig.deadline %></p>
<%end %>
<p><%=t(:customer)%>:<a href="/users/<%=@customer.id %>>"> <%=  @customer.name %></a></p>
<% if !@worker.nil? %>
<p><%=t(:worker)%>: <a href="/users/<%=@worker.id %>>"> <%=@worker.name %></a></p>
<%end %>


<% if @gig.worker_id.nil? %>
<% if current_user == @customer %>
<%= link_to t(:edit), edit_gig_path(@gig), class: "btn btn-primary btn-lg" %>
<%= link_to t(:delete), gig_path(@gig), class: "btn btn-primary btn-lg", data: { turbo_method: :delete} %>
<% else %>
<%= link_to t(:accept),  accept_gig_path(@gig), class: "btn btn-primary btn-lg", data: { turbo_method: :post } %>
<%end %>
<% else %>
<% if current_user == @customer %> 
<%= link_to t(:complete), complete_gig_path(@gig), class: "btn btn-primary btn-lg", data: { turbo_method: :post } %>
<%end %>
<%end %>