<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | GigPro </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "GigPro", root_path, id: "logo" %>
          <nav1>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to t(:gigs), root_path  %></li>
							<% if logged_in? %>
							<li class="dropdown">
								<a href="#" id="account" class="dropdown-toggle"> <%=t(:account) %><b class="caret"></b> </a>
								<ul id="dropdown-menu" class="dropdown-menu">
									<li><%= link_to t(:profile), current_user %></li>
									<li class="divider"></li>
									<li> <%= link_to t(:log_out), logout_path, data: { "turbo-method": :delete } %> </li>
            		</ul>
							</li>
							<% else %>
								<li><%= link_to t(:log_in), login_path %></li>
							<%end %>
              <li><%= link_to "English", change_language_path(locale: 'en'), method: :post %></li>
              <li><%= link_to "Español", change_language_path(locale: 'es'), method: :post %></li>
						</ul>
        </nav>
      </div>
    </header>
    <div class="container">
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
      <%= yield %>
    </div>
  </body>
</html>